---
- name: "create vms for {{ student }}"
  tags:
    - vm
  loop:
    - vm1
    - vm2
    - vm3
  digital_ocean_droplet:
    name: "student-0{{ student_id }}-{{ item }}"
    tags:
      - "{{ student }}"
    oauth_token: "{{ lookup('env', 'DO_API_TOKEN') }}"
    unique_name: true
    size: 4gb
    region: fra1
    image: centos-7-x64
    ssh_keys: "{{ admin_keys_ids }}"
    wait_timeout: 500
  register: student_vms
